@font-face {
    font-family: Ananda Font;
    src: url('./fonts/Ananda-eL1n.ttf');
}
@font-face {
    font-family: soDoWe;
    src: url('./fonts/BetterGrade-519DV.ttf');
}
@font-face {
    font-family: question;
    src: url('./fonts/Dirtyboy-BxYl.ttf');
}
@font-face {
    font-family: Mangabey;
    src: url('./fonts/MangabeyRegular-rgqVO.otf');
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* color: rgb(0, 0, 0);
    background-color: black; */
    scroll-behavior: smooth;
}

.main {
    position: relative;
      display: flex;
      justify-content: space-around;
      width: 100vw;
      font-weight: 900;
      padding-top: 140px;
      padding-left: 100px;
      padding-right: 100px;
      height: 100vh;
    } 
.pageTitle {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 60px;
  font-weight: 900;
}
.questionLine{
    display: flex;
    flex-direction: row;
}
.question{
    font-size: 80px;
    font-family: Mangabey;
    color: white;
}
.soDoWe{
    padding-left: 60px;
    align-self: flex-end;
    font-size: 90px;
    font-weight: 500;
    color: white;
    font-family: soDoWe;
}

#tagLine{
    padding-top: 60px;
    display: flex;
    justify-content: center;
    font-family: Mangabey;
    font-size: 40px;
    color: white;
}
#beginButton{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    font-family: soDoWe;
    font-size: 70px;
    color: black;
    background-color: white;
    font-weight: 600;
    width: 140px;
    align-self: center;
    border-radius: 10px;
    transition: .4s;
    text-decoration: none;
}
#beginButton:hover{
    background-color: rgb(64, 64, 64);
    color: white;
    transition: .5s;
    cursor: pointer;
}

table, th, td {
  border: 1px solid;
}

th,td{
  width: 200px;
}

th{
  text-decoration:underline
}
#VRPage{
  background-image:url('./images/guitarset.jpg');
  background-size: cover;
  background-position-y: bottom;
}
#aboutPage{
    background-image:url('./images/lespaul.jpg');
    background-size: cover;
    background-position-y: 80px;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
  }
  #contentspage{  
    background-image:url('./images/contentback.jpg');
    background-size: cover;
    background-position-y: bottom;

}
  .aboutTitle{
    position: absolute;
    top:100px;
    font-family: Mangabey;
    font-size: 60px;
    color: white;
    align-self: center;
  }
.instrLi{
    margin-top: 5px;
    margin-bottom: 5px;
}
.vrPageTitle{
    font-family: Mangabey;
    font-size: 60px;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 250px;
    margin-right: 30px;
    padding: 5px;
    
}
#landingPage{
    background-image:url('./images/landingBackground.jpg');
    background-size: cover;
    background-position-y: 80px;
    background-repeat: no-repeat;
  }


@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Exo', sans-serif;
}


.context {
    width: 100%;
    position: absolute;
    top:50vh;
    
}

.context h1{
    text-align: center;
    color: #fff;
    font-size: 50px;
}
.aboutSection{
    display: flex;
    flex-direction: row;
    margin-top:200px;
    justify-content: space-around;
}
.person{
    display: flex;
    flex-direction: column;
}
.name{
    color: white;
    font-size: 30px;
    margin-bottom: 15px;
    text-align: center;

}
.major{
    color: white;
    font-size: 20px;
    text-align: center;
    margin-bottom: 15px;

}
.role{
    color: white;
    font-size: 15px;
    text-align: center;
    margin-bottom: 15px;
}
.fa-linkedin{
    color: white;
    font-size: 30px;
}
.linkedIn{
    text-align: center;
}


