.NavbarItems {
    background: #8a8a8a;
    height: 80px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;  
    position: fixed;
    z-index: 2;
}

.navbar-logo{
    color: aliceblue;
    justify-content: flex-start;
    align-items: center;
    align-self: center;
    text-align: center;
    margin-left: 15px;
    font-size: 2.4rem;
    padding: .3rem 1rem;
    display: flex;
    flex-wrap: nowrap; 
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
}
.nav-logo {
    width:  50px;    
}

.navbar-logo:hover{
    background-color: #404040;
    border-radius: 4px;
    transition: all .2s ease-out;   
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5,auto);
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: center;
    margin: 0;
    cursor: pointer;
}

.nav-links {
    color: white;
    text-decoration: none;
    padding: .5rem 1rem;
}

.nav-links:hover{
    background-color: #404040;
    border-radius: 4px;
    transition: all .2s ease-out;
}

