@font-face {
    font-family: Ananda Font;
    src: url('./fonts/Ananda-eL1n.ttf');
}
@font-face {
    font-family: soDoWe;
    src: url('./fonts/BetterGrade-519DV.ttf');
}
@font-face {
    font-family: question;
    src: url('./fonts/Dirtyboy-BxYl.ttf');
}
@font-face {
    font-family: Mangabey;
    src: url('./fonts/MangabeyRegular-rgqVO.otf');
}

.NavbarItems {
    background: #000000;
    height: 80px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;  
    position: fixed;
    z-index: 2;
}
.iconDiv{
    align-self: center;
    padding-left: 40px;
    height: 100%;
}
.fa-guitar{
    color: white;
    font-size: 40px;
}

.navbar-logo{
    color: aliceblue;
    justify-content: flex-start;
    align-items: center;
    align-self: center;
    text-align: center;
    margin-left: 15px;
    font-size: 2.4rem;
    padding: .3rem 1rem;
    display: flex;
    flex-wrap: nowrap; 
    cursor: pointer;
    width: max-content;
    font-family: Mangabey;
    transition: all .4s ease-out; 
}
.nav-logo {
    width:  50px;   
}

.navbar-logo:hover{
    background-color: #404040;
    border-radius: 4px;
    transition: all .4s ease-out;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5,auto);
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: center;
    margin: 0;
    cursor: pointer;
}

.nav-links {
    color: white;
    text-decoration: none;
    padding: .5rem 1rem;
    font-family: Mangabey;
    font-size: 30px;
    transition: all .4s ease-out;
}

.nav-links:hover{
    background-color: #404040;
    border-radius: 4px;
    transition: all .4s ease-out;

}

